
#mario{
  position: absolute;
  z-index: 99999;
  margin-top: 18em;
  @include animation(marioTravelling 10s linear infinite);
}


/* Mario travelling
----------------------------------------*/
$size-square: 4.4em;
$sq: $size-square;
@include keyframes(marioTravelling){
  0%{
    opacity: 1;
    margin-left: $sq;
  }
  5%{
    margin-top: 18em + $sq;
  }
  10%{
    margin-left: $sq*3;
  }
  15%{
    margin-top: 18em + $sq*3;
  }
  20%{
    margin-left: $sq*5;
  }
  25%{
    margin-top: 18em + $sq*5;
  }
  30%{
    margin-left: $sq*7;
  }
  35%{
    margin-top: 18em + $sq*7;
  }
  40%{
    margin-left: $sq*16;
  }
  45%{
    margin-top: 18em + $sq*5;
  }
  50%{
    margin-left: $sq*18;
  }
  55%{
    margin-top: 18em + $sq*3;
  }
  60%{
    margin-left: $sq*20;
  }
  65%{
    margin-top: 18em + $sq;
  }
  70%{
    margin-left: $sq*22;
  }
  75%{
    margin-top: 18em - $sq;
  }
  80%{
    margin-left: $sq*24;
    opacity: 1;
  }
  81%{
    opacity: 0;
  }
  99%{opacity: 0;}
  100%{opacity: 0;}
}
